button.adicionar,
button.limpar {
    width: 50%;
    padding: 10px;
    color: #fff;
    font-size: .6em;
    text-transform: uppercase;
    border: none;
    background-color: #3f51b5;
    border-radius: 5px;
}

button.limpar {
    width: 100% !important;
}